body {
    background-color: rgb(246, 247, 220);
    margin: 0;
    padding: 20px;
    font-family: 'Times New Roman', Times, serif;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1.title {
    text-align: center;
    font-size: 64px;
    font-family: 'Courier New', Courier, monospace;
    padding: 0px;
    margin-top: 20px;
    margin-bottom: 0px;
}

.th, td {
    padding: 4px;
    color: black;
    font-size: 16px;
}

th {
    background-color: rgb(114, 131, 208);;
}

td {
    background-color: rgb(221, 224, 240);
    height: 25px; /* Set a fixed height for the newly added row */
    max-height: 10px;
    border-top: 1px solid black;
    border-right: 1px solid black;
}

.button, 
.hide-col1-container,
.average-container,
.js-average{
    flex: 1;
    background-color: rgb(92, 98, 124);
    color: white;
    padding: 12px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin-bottom: 6px;
    cursor: pointer;
    border-radius: 8px;
    width: 100%; /* Make the button occupy the full width of its parent */
    font-family: 'Courier New', Courier, monospace;
    border: 1px solid black;
}
.hide-col1-container{
    width: 100%;
    box-sizing: border-box;
}

.js-average {
    background-color: white;
    border-radius: 0px;
    color: black;
    padding: 5px;
}

.button-container {
    background-color: rgb(255, 255, 255); 
}

.grid-container {
    background-color: rgb(255, 255, 255);
    
    display: grid;
    grid-template-columns: 200px 1fr 1fr 1fr;
    gap: 10px;

    height: 500px;
    max-width: 1600px;
    padding: 20px;
    margin: auto;
    text-align: center;
    border-radius: 12px;
}

.table-container {
    padding: 0px;
    height: 100%;
    background-color: rgb(253, 249, 255);
    overflow-y: auto;
    border-radius: 12px;
    border: 1px solid black;
}

#table1,
#table2,
#table3 {
    width: 100%;
    table-layout: fixed;
    border-spacing: 0;
    
}

@media screen and (max-width: 768px) {
    #h1 {
        font-size: 1.8em;
    }

    .th, td {
        font-size: 1.2em;
        padding: 10px;
    }

    #table1 {
        width: 100%;
        max-width: 100%;
    }

    #btnTable {
        margin: 0;
        align-items: center; /* Center buttons on small screens */
    }

    .btn {
        width: 100%; /* Buttons take full width on mobile */
    }
}

/* Media Query for very small screens */
@media screen and (max-width: 480px) {
    #h1 {
        font-size: 1.5em;
    }

    .th, td {
        font-size: 1em;
        padding: 8px;
    }
}
